@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans');

* {
    box-sizing: border-box;
    font-family: "Open Sans";
  }
  
html {
    background-color: #ececec;
}
  
header h1 {
  padding: 15px;
  text-align: center;
  background-color: #00000078;
  margin-bottom: 16px;
  font-size: 60px;
}
  
header {
  background-image: url(/header.jpg);
  color: white;
  margin: 0;
  padding: 30px 0;
  height: 243px;
  position: relative;
}
  
  body {
    max-width: 1000px;
    min-height: 750px;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    background-color: #f6f6f6;
  }
  #logout{
    background-color: #f57373;
    color: white;
    border: 1px solid #ef4747;
    position: absolute;
    top: 0;
    right: 0;
  }
  #welcome {
    position: relative;
    top: 150px;
    width: 100%;
    text-align: center;
  }
  
  form * {
    margin: 2px;
  }
  
  #userLogin,
  #userSignUp,
  #foodForm {
    text-align: center;
    position: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #foodForm {
    margin-top: 1rem;
  }
  
  .total {
    text-align: center;
  }
  
  #sort {
    margin: 0 auto 1rem;
    display: block;
      outline: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      padding: 0.4rem;
      border-radius: 0;
      background-position: center right 0.4em;
      background-repeat: no-repeat;
      background-size: 0.8rem;
      background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Im0xMjEuMywzNC42Yy0xLjYtMS42LTQuMi0xLjYtNS44LDBsLTUxLDUxLjEtNTEuMS01MS4xYy0xLjYtMS42LTQuMi0xLjYtNS44LDAtMS42LDEuNi0xLjYsNC4yIDAsNS44bDUzLjksNTMuOWMwLjgsMC44IDEuOCwxLjIgMi45LDEuMiAxLDAgMi4xLTAuNCAyLjktMS4ybDUzLjktNTMuOWMxLjctMS42IDEuNy00LjIgMC4xLTUuOHoiIGZpbGw9IiMwMDZERjAiLz4KICA8L2c+Cjwvc3ZnPgo=);
      border-color: #eee;
  }
  
  .calorieCalculator {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 28px;
    align-content: center;
    justify-items: center;
    align-items: center;
    border: 1px lightgrey solid;
    padding: 20px;
}
  
  .calorieCalculator p {
    text-align: center;
  }
  
  .caloriesScreen {
    position: relative;
    top: 150px;
    width: 100%;
    text-align: center;
  }
  
  .login, .signup {
    max-width: 20rem;
    margin: 0 auto;
  }
  
  
  .login__row, .signup__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .calculator__row {
    margin-bottom: 1rem;
    min-height: 2rem;
  }
  
  .calculator__row label {
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 11px;
}

  .calculator__row label > span {
    min-width: 5rem;
    float: left;
    display: block;
    color: #929292;
    font-size: 15px;
  }

  .calculator__row label > span:after {
    content: ":";
    color: #999;
    padding-left: .1rem;
  }
  .calculator__row label input {
    padding: 0.4rem;
    outline: 0;
    background-color: #f7f7f7;
    border: 1px solid lightgray;
  }

.calculator__row label select {
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: .4rem 14px;
    border-radius: 0;
    border-color: #eee;
    background-position: center right 0.4em;
    background-repeat: no-repeat;
    background-size: 0.8rem;
    background-color: #f7f7f7;
    border: 1px solid lightgray;
    background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRm…ctMS42IDEuNy00LjIgMC4xLTUuOHoiIGZpbGw9IiMwMDZERjAiLz4KICA8L2c+Cjwvc3ZnPgo=);
}

.accent-color {
  background-color: #5c6dc5;
  color: white;
}
  .calculator__row--height input {
    max-width: 3.6rem;
    margin-right: 0.2rem;
  }
  .calculator__row--height input:nth-child(3) {
    margin-left: 0.5rem;
  }
  .calculator__row--width input {
    max-width: 3.6rem;
    margin-right: 0.2rem;
  }

  .calculator button {
    border: 1px solid #f2f2f2;
    padding: 10px 31px;
    cursor: pointer;
    transition: 0.7s;
    display: block;
    margin: auto;
    width: 100%;
}
  
.foodItem {
  display: block;
  flex-direction: column;
  max-width: 18rem;
  text-align: center;
  color: #0c2d42;
  border-top: 3px solid #5c6dc5;
}

.calfont{
  font-size: 30px;
}
  .foodItem .foodName {
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
  }

  .updateCalories, .updateName {
      padding: 1rem;
      width: 80%;
      margin: auto;
      margin-top: 20px;
  }
  .foodItem .buttons {
    display: flex;
    justify-content: space-evenly;
  }

  .foodItem #edit,
  .foodItem #delete,
  .foodItem #update {
    border: 1px solid #f2f2f2;
    padding: 10px 31px;
    cursor: pointer;
    transition: 0.7s;
  }
  
  #delete {
    background-color: #f2f2f2;
    color: #999;
  }
  #delete:hover {
    background-color: red;
    color: white;
  }
  .foodItem .foodCalories:after {
    content: " calories";
    color: #555;
  }
  
  .hidden {
    display: none;
  }
  
  
  
  .input {
    width: 100%;
  }
  
  
  form input {
    padding: 6px 8px;
    outline: 0;
  }
  
  button {
    border: 1px solid #f2f2f2;
    padding: 10px 31px;
    cursor: pointer;
    transition: .7s;
  }
  
  
  button:hover {
    background-color: #f2f2f2;
  }
  
  li {
    list-style-type: none;
  }
  
  .hidden {
    display: none;
  }
  .foodName {
    background-color: #5c6dc5;
    color: white;
  }
  
  .foodCalories,
  .foodName {
    text-align: center;
  }
  
  .log {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
  }
  
  .foodItem {
    height: 300px;
    margin-bottom: 1rem;
    width: 33%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .foodItem:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  @media only screen and (max-width: 640px){
    .foodItem {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }

      .log {
        display: block;
        margin-bottom: .5rem;
      }      
      .calculator__row label {
        flex-direction: column;
        text-align: center;
      }
      .calculator {
        display: flex;
        flex-direction: column;
      }
  }